.LADYWINDERMERE{
    font-family: Arial, Helvetica, sans-serif;
    font-style: oblique;
    font-size: 18px;
    color:#351dbe;

}
.ROSALIE{
    font-family: Arial, Helvetica, sans-serif;
    font-style: oblique;
    font-size: 18px;
    color:#3bd343;

}
.paragrah{
    font-family: "Lucida Console", "Courier New", monospace;;
    font-style: oblique;
    font-size: 15px;
    color: black;
}
#stagedirection{
    background-color: #ffdcdc;
    font-style: oblique;
    font-family: 'Courier New', Courier, monospace;
    color: black;
}
#stagedirection:hover{
    background-color:rgba(100, 75, 245, 0.171);
    color: rgba(108, 18, 211, 0.774);
}